*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    height: 70px;
    background: blue;
    color: white;
    line-height: 70px;
}
.container{
    width: 1140px;
    margin: auto;
}
.logo{
    font-size: 35px;
    float: left;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    cursor: pointer;
    overflow: hidden;
}

main{
    width: 68%;
    float: left;
    height: 400px;
    margin-top: 20px;
    font-size: 40px;
    color: white;
}
aside{
    width: 30%;
    background: orange;
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    height: 555px;
    margin-top: 12px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    height: 280px;
}
article{
    display: flex;
    justify-content: center;
    background: green;
    align-items: center;
    height: 250px;
    margin-top: 20px;
}
footer{
    clear: both;
    position: absolute;
    transform: translateY(-50%);
    top: 95.2%;
    background: grey;
    color: white;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
